name: CI

on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  build-with-xk6:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17.x
      - name: Retrieve get module name
        run: |
          echo "::set-output name=Module::$(go list -m)"
        id: module-name
      - name: Verify builds with xk6
        run: |
          go install go.k6.io/xk6/cmd/xk6@latest
          xk6 build --with ${{ steps.module-name.outputs.Module }}=.

  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17.x
      - name: Run unit tests
        run: go test -v -cover -race ./...
