name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions: {}

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@7275fd9bc5ecd78ab35559c2bf231d983906520b # v1.3.3
    permissions:
      contents: write
    with:
      cgo: true
      go-version: "1.25.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.4.2"
      xk6-version: "1.3.1"
      with: |
        github.com/grafana/xk6-sql-driver-ramsql
        github.com/grafana/xk6-sql-driver-sqlite3
        github.com/grafana/xk6-sql-driver-mysql
        github.com/grafana/xk6-sql-driver-postgres
