name: Release

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/k6-extension-workflows/.github/workflows/release.yml@v0.2.0
    with:
      cgo: true
      with: |
        github.com/grafana/xk6-sql-driver-ramsql
        github.com/grafana/xk6-sql-driver-sqlite3
        github.com/grafana/xk6-sql-driver-mysql
        github.com/grafana/xk6-sql-driver-postgres
