name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions: {}

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@4102eeec59fbec9afdfc21ab6b0eef44a4a2bf28 # v1.3.1
    permissions:
      contents: write
    with:
      cgo: true
      go-version: "1.25.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.3.0"
      xk6-version: "1.2.3"
      with: |
        github.com/grafana/xk6-sql-driver-ramsql
        github.com/grafana/xk6-sql-driver-sqlite3
        github.com/grafana/xk6-sql-driver-mysql
        github.com/grafana/xk6-sql-driver-postgres
