name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions: {}

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@v1.1.4
    permissions:
      contents: write
    with:
      cgo: true
      go-version: ${{vars.GO_VERSION}}
      k6-version: ${{vars.K6_VERSION}}
      xk6-version: ${{vars.XK6_VERSION}}
      os: ${{vars.OS}}
      arch: ${{vars.ARCH}}
      with: |
        github.com/grafana/xk6-sql-driver-ramsql
        github.com/grafana/xk6-sql-driver-sqlite3
        github.com/grafana/xk6-sql-driver-mysql
        github.com/grafana/xk6-sql-driver-postgres
