name: Validate

permissions: {}

on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  validate:
    name: Validate
    uses: grafana/xk6/.github/workflows/extension-validate.yml@4102eeec59fbec9afdfc21ab6b0eef44a4a2bf28 # v1.3.1
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      go-version: "1.25.x"
      go-versions: '["1.25.x","1.24.x"]'
      golangci-lint-version: "v2.1.6"
      platforms: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      k6-versions: '["v1.4.2", "v1.0.0"]'
      xk6-version: "1.3.1"
